version: '3.9'

services:
  security_services:
    container_name: user-services
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5002:5002
    volumes:
      - .:/about_service
