@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #141215;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
    flex-direction: column;
}

/* header */
header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: rgba(0,0,0,.3);
    padding:3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.4rem;
}

header .logo{
    font-size: 1.5rem;
    color:#fff;
    font-weight: bolder;
}

header .logo i{
    padding-right: .5rem;
    color:#ef7819;
    animation: floating 3s linear infinite;
}

@keyframes floating{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1rem);
    }
}

header .navbar a{
    font-size: 0.8rem;
    color:#ef7819;
    margin:0 1rem;
    text-decoration: none;
    text-transform: capitalize;
}

header .navbar a.active,
header .navbar a:hover{
    color:#ef7819;
}

header .icons a,
header .icons div{
    font-size: 1.2rem;
    color:#fff;
    margin-left: 2rem;
    cursor: pointer;
}

header .icons a:hover,
header .icons div:hover{
    color:#ef7819;
}

#menu-btn{
    display: none;
}

header .search-form{
    position: absolute;
    top:115%; right:-105%;
    background: #fff;
    width:50rem;
    height:5rem;
    display: flex;
    align-items: center;
    opacity: 0;
}

header .search-form.active{
    right:2rem;
    opacity: 1;
    transition: .4s linear;
}

header .search-form input{
    width:100%;
    padding:0 1.5rem;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

header .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}

header .search-form label:hover{
    color:#ef7819;
}

header.active{
    padding:2rem 9%;
    background: #222;
}

.blog-container{
    display: inline-block;
    position: relative;
}

.blog-container:hover .multi-level{
    display: flex;
}

.multi-level{
    position: absolute;
    width: 300%;
    flex-direction: column;
    display: none;
}

.multi-level a{
    margin: 0;
}

.multi-level a button{
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    background-color: #ea954f;
    transition: all 0.2s;
    color: #fff;
}

.multi-level a button:hover{
    background-color: #ef7819;
    color: black;
    font-weight: 700;
}

.multi-level span{
    width: 100%;
    position: absolute;
    top: -20px;
}




/* form  */


.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    margin-top: 8rem;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #ef7819;
	border: none;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}


/* media */
